/* header */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__nav {
  width: 33.3%;
  flex: 0 0 auto;
}

.header__link {
  color: #000;
  font-family: "Raleway", sans-serif;
  text-underline-position: under;
}

.header__link-list {
  display: flex;
  gap: 32px;
}

.header__link-list-item {
  border-bottom: #000;
  list-style: circle;
}

.header__link-list_no-active {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  flex: 0 0 auto;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: inherit;
  height: inherit;
}

.header__address {
  padding-left: 15.5%;
}

.address {
  color: #000;
  font-family: "Raleway", sans-serif;
  flex: 0 0 auto;
  width: 33.3%;
  line-height: 135%;
  font-style: normal;
  text-underline-position: under;
}

/* end__header */

/* cover */

.cover {
  background: url("../images/cover.jpg") center center/cover no-repeat;
  position: relative;
  /* z-index: -1; */
  padding-top: 165px;
  padding-bottom: 45px;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background: #000;
  opacity: 0.6;
}

.cover__title {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
  z-index: 1;
  margin-top: 0;
}

.cover__description {
  color: #fff;
  font-family: "Raleway", sans-serif;
  margin-top: 116px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  text-align: end;
  word-spacing: 17px;
  text-transform: uppercase;
  margin-right: 81px;
}

.alignment-text {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.alignment-text_left {
  text-align: left;
}

.alignment-text_center {
  text-align: center;
  width: 100%;
}

.alignment-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.button {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 12px 32px;
  margin-right: 50px;
}

/* end__cover */

/* lots */

.lots {
  padding: 182px 50px;
}

.lots__heading {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-description {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 27px;
}

.lots__card-description-item {
  flex: 1 1 0%;
  min-height: 450px;
  min-width: 430px;
}

.lots__card-description-item:first-child {
  width: 33.3%;
}

.lots__card-description-item:last-child {
  width: 33.3%;
}

.card {
  height: inherit;
  width: inherit;
}

.card_film {
  background: url(../images/card-lot-01.jpg) center/cover;
}

.card_book {
  background: url(../images/card-lot-02.jpg) center/cover;
}

.card_picture {
  background: url(../images/card-lot-03.jpg) center/cover;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-family: "Raleway", sans-serif;
  padding: 50px 40px;
  width: 100%;
  height: 100%;
  position: relative;
  /* z-index: 0; */
}

.card__title {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  z-index: 1;
}

.card__text {
  line-height: 120%;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  font-family: Raleway;
  position: relative;
  z-index: 1;
}

.link__view-more {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
}

/* end_lots*/

/* about */

.about {
  display: flex;
  gap: 25px;
  padding: 0 50px 180px 50px;
}

.about__clause:last-child {
  margin-top: 103px;
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  margin: 0 95px;
  padding: 63px 46px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 100px;
}

/* end__about */

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 90px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer__address {
  padding-right: 15.5%;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: auto;
}

.footer__nav-list {
  list-style: none;
  text-align: center;
}

.footer__nav-link {
  color: #000;
  text-underline-position: under;
}

.footer__nav-link_active {
  text-decoration: none;
}

.footer__public-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  flex: 0 0 auto;
  width: 33.3%;
  list-style: none;
}

.footer__public-link {
  color: #000;
}

.footer__public-icon {
  width: 48px;
  height: 48px;
}
